{% extends "template.html" %} {% block body %}

<h2>Estou fazendo alguns teste</h2>
<p>login!</p>

<form action="/login" method="POST">
    Usuário: <input type="text" name="username" id="name" class="form-feild"><br>
    Senha: <input type="password" name="password" class="form-feild"><br>
    <button type="submit" class="add-btn" style="display: inline-block; margin-right: 10px;">Login</button>

</form>

<form action="{{ url_for('auth.register') }}" method="GET" style="display: inline-block;">
    <button type="submit" class="add-btn">Cadastrar</button>
</form>


<br>
<br>

{% endblock %}